*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
    background-color: #cfe9ff;
    width: 100%;
    min-width: 100vh;
    overflow: hidden;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    width: 100%;
    background-color: white;
    max-width: 920px;
    height: 480px;
    border-radius: 3.3rem;
}

.inner-box {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.image {
    position: absolute;
    height: 100%;
    width: 55%;
    top: 0;
    left: 0;
}

.form {
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 55%;
    background-color: #ffe0d2;
    border-radius: 2rem;
}

